body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
  width: 1280px;
  margin: 0 auto;
  background-color: pink;
}
.container nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
}
.container nav ul .logo{
  width: 5.625rem;
 
}
.container nav ul li {
  display: flex;
  align-items: center;
  height: 3.125rem;
  list-style: none;
  text-decoration: none;
}
.container nav ul li a {
  text-decoration: none;
  color: #000;
}
